<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>
        {% block title %}
        
        {% endblock %}
    </title>
  </head>
  <body style="background:url({{url_for('static', filename='images/bg.jpg')}})">
    <div class="sidebar-container">
      <div class="sidebar-logo">
        Essentials Prog Catalog
      </div>
      <ul class="sidebar-navigation">
        {% for language in languages %}
        <li>
          <a href="/{{language}}">
            <i class="fa fa-home" aria-hidden="true"></i> {{language}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    
    <div  class="content-container">
        <h1>
            {% block content_title %}
            {% endblock %}
        </h1>
      <div class="container-fluid">
    
        <!-- Main component for a primary marketing message or call to action -->
        {% block content %}

        {% endblock %}
    
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>