{% extends 'base.html' %}


{% block title %}
    Main Page
{% endblock %}


{% block content_title %}
{% endblock %}


{% block content %}
<div class='row h-100 col-11 center_block'>
{% for site in sites %}
<div class="card ml-1 mt-3 mr-1" style="width: 18rem;">
        <img class="card-img-top" src="{{url_for('static',filename='images/screens/286x180.svg')}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ site.name }}</h5>
          <a href="{{site.url}}" class="btn btn-primary">Перейти на сайт</a>
        </div>
</div>
{% endfor %}
</div>
{% endblock %}